.details {
  display: flex;
  flex-direction: column;
  column-gap: 2rem;
}

@media screen and (width>=768px) {
  .details {
    flex-direction: row;
  }
}

.details__stats {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.details__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.details__title h3 {
  color: #5c5c5c;
}

.details__rating {
  color: #a9a9a9;
}

.details__description {
  color: #777777;
}

.details__img {
  height: auto;
  width: 100%;
}

@media screen and (width>=768px) {
  .details__img {
    height: 75vh;
    width: auto;
  }
}
