.card {
  /* height: 40rem; */
  width: calc((100% - 2rem * 1) / 2);
}
@media screen and (min-width: 768px) {
  .card {
    width: 25%;
    width: calc((100% - 2rem * 3) / 4);
  }
}

@media screen and (min-width: 1248px) {
  .card {
    width: calc((100% - 2rem * 4) / 5);
  }
}

.card__container {
  /* border: 1px solid gray; */
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-self: stretch;
  align-self: stretch;
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card__image-container {
}

.card__image {
  height: auto;
  width: 100%;
}

.card__details {
  padding: 1rem;
}

.card__description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: initial;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.card > a {
  text-decoration: none;
  color: black;
}

.card__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.card__title h3 {
  color: #5c5c5c;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.card__details-rating {
  color: #a9a9a9;
}

.card__description {
  color: #777777;
}
